<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
</head>
<body>
    <img src="/_img/logo.png" alt="logo IFCE" width="300" height="200">
    <%- include('cabecalho.ejs') %>
    <h1>Admin</h1>
    <% if (messages.success) { %>
        <div class="alert alert-success">
            <%= messages.success %>
        </div>
    <% } %>
    <form action="/admin/login" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha">
        <input type="submit" value="Login">
    </form>
</body>
</html>