<nav>
  <ul>
      <li><a href="/index">Início</a></li>
      <li><a href="/autor">Autor</a></li>
      <li><a href="/admin">Usuário</a></li>
      <li><a href="/admin/create">Criar Usuário</a></li> 
  </ul>
</nav>