<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Admin</title>
</head>

<body>
    <img src="/_img/logo.png" alt="logo IFCE" width="300" height="200">
    <%- include('cabecalho.ejs') %>
    <h1>Novo Usuário</h1>
    <form action="/criar_admin" method="POST">
        <label for="username">Nome de Usuário:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Senha:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Criar Usuário">
    </form>
</body>

</html>
