<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        .grande {
            color: green;
            font-weight: bold;
        }

        .pequeno {
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <!-- Incluir cabeçalho -->
    <%- include('/home/node/app/views/cabecalho.ejs') %>
    <img src="/_img/logo.png" alt="logo IFCE" width="300" height="200">

    <h1>Problema: Cálculo da Área de um Letreiro Publicitário em forma de pentágono.</h1>
    <p><strong>Descrição do problema:</strong></p>
    <p>Calcule a área de um letreiro publicitário em forma de pentágono. Se a área for maior que 20 metros
        quadrados, é um letreiro grande. Se for menor que 20 metros quadrados, é um letreiro pequeno.</p>

    <form method="post" onSubmit="event.preventDefault(); calcularArea();">
        <label>
            <span>Nome</span>
            <input name="nome">
        </label>
        <label>
            <span>Lado</span>
            <input name="lado">
        </label>
        <button>Calcular</button>
    </form>

    <div id="resposta"></div>

    <label>
        <span>ID</span>
        <input name="id_papel" type="number">
    </label>

    <label>
        <span>Senha</span>
        <input name="senha" type="password">
    </label>

    <button type="submit" onclick="login();">Ok</button>
    <button onclick="listar();">Listar</button>

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Lado</th>
            <th>ID Papel</th>
            <th>Senha</th>
            <th>Ações</th>
        </tr>
        <tbody id="placas">
            <!-- Aqui será preenchido com as placas existentes -->
        </tbody>
    </table>

    <!-- Inclua o arquivo JavaScript onde as funções estão definidas -->
    <script src="/_js/placa.js"></script>
</body>

</html>
