<!DOCTYPE html>
<html lang="pt-BR">

<html>
<head>
    <title>Resposta</title>
</head>
<body>
    <img src="/_img/logo.png" alt="logo IFCE" width="300" height="200">
    <%- include('cabecalho.ejs') %>
    <h1>Resultado</h1>
    <p>A área da placa é: <%= area %> metros quadrados.</p>
    <p>A placa é <%= area > 20 ? 'grande' : 'pequena' %>.</p>
</body>
</html>